/node_modules/
**/node_modules/
/backend/node_modules
/backend/dist
/frontend/node_modules*
/frontend/dist
.env
.env.*
env.*
/frontend-next/node_modules
/frontend-next/dist
/frontend-next/.next
frontend/env.download
frontend/.env.download